@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Montserrat-Variable"; /* Name your font */
  src: url("./assets/font/Montserrat-Variable.ttf") format("truetype"); /* Path to your font file */
  font-weight: 300; /* Adjust weight if applicable */
  font-style: normal; /* Adjust style if applicable */
}
@font-face {
  font-family: "RockSalt-Regular"; /* Name your font */
  src: url("./assets/font/RockSalt-Regular.ttf") format("truetype"); /* Path to your font file */
  font-weight: 300; /* Adjust weight if applicable */
  font-style: normal; /* Adjust style if applicable */
}
@font-face {
  font-family: "BaseNeueTrial-Thin"; /* Name your font */
  src: url("./assets/font/BaseNeueTrial-Thin.ttf") format("truetype"); /* Path to your font file */
  font-weight: 300; /* Adjust weight if applicable */
  font-style: normal; /* Adjust style if applicable */
}
@font-face {
  font-family: "BaseNeueTrial-Wide"; /* Name your font */
  src: url("./assets/font/BaseNeueTrial-Wide.ttf") format("truetype"); /* Path to your font file */
  font-weight: 300; /* Adjust weight if applicable */
  font-style: normal; /* Adjust style if applicable */
}
@font-face {
  font-family: "BaseNeueTrial-WideBlack"; /* Name your font */
  src: url("./assets/font/BaseNeueTrial-WideBlack.ttf") format("truetype"); /* Path to your font file */
  font-weight: 300; /* Adjust weight if applicable */
  font-style: normal; /* Adjust style if applicable */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html * {
  font-family: "BaseNeueTrial-Wide", sans-serif;
}

.hoverFamily {
  font-family: "BaseNeueTrial-WideBlack", sans-serif !important;
  transition: font-family 0.3s ease;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: overlay;
  background-image: url(./noise.png);
  background-repeat: repeat; /* Repeat the image both horizontally and vertically */
  background-size: auto; /* Use the natural size of the image for clarity */
  background-position: top left; /* Optional: Specify the starting point of the tiling */
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it appears below other content */
  opacity: 0.2;
}

.line {
  stroke: rgb(248, 247, 229);
  stroke-width: 1px;
  stroke-dasharray: 2.7;
  stroke-dashoffset: 2.7;
}

@layer components {
  .dot {
    @apply w-[5px] h-[5px] bg-[#076A21] rounded-full;
  }
}

.innerContactTitle {
  box-sizing: border-box;
}

.innerContactTitle svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Glow button */
.glow-button {
  @apply relative px-14 py-10 bg-[#161a20] border-none rounded-2xl;
}

.glow-button::after {
  @apply absolute h-[107%] w-[102%] flex justify-center items-center -z-10 rounded-2xl;
  content: "";
  background: linear-gradient(to bottom right, #006cff, #e100ff);
}

.glow-button:hover {
  @apply z-10 shadow-[10px_0_50px_#008cff,_-10px_0_50px_#e100ff];
}

/* Glow spin */
.glow-spin {
  @apply relative w-24 h-24 bg-[#161a20] border-none rounded-full flex justify-center items-center;
}

.glow-spin::after {
  @apply absolute h-[107%] w-[102%] flex justify-center items-center -z-10 rounded-full;
  content: "";
  background: linear-gradient(to bottom right, #006cff, #e100ff);
}

.glow-spin:hover {
  @apply z-10 shadow-[10px_0_50px_#008cff,_-10px_0_50px_#e100ff];
}

/* circular text */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .eye {
    @apply relative block mx-5 my-0 rounded-full shadow-[0px_5px_45px_rgba(0,0,0,0.2),_inset_0px_0px_15px_#f2761e,_inset_0px_0px_25px_#f2761e];
  }

  .pupil {
    @apply content-[''] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[15px] h-[15px] bg-[#000] rounded-full border-[10px] border-[#2196f3] box-border;
  }

  .bg-box-style {
    @apply flex-1 border-2 rounded-lg border-[#1D1D1D] backdrop-blur-sm hover:scale-[1.02] transition-all duration-300 hover:border-2 hover:border-[#1D1D1D] flex justify-center items-center;
  }

  .flex-container {
    @apply h-screen w-full flex flex-row gap-5 p-20;
  }

  .flex-column {
    @apply flex-1 rounded-lg flex flex-col gap-5;
  }
}

/* cards */
/* General Card Wrapper */
.card-container {
  @apply flex flex-wrap justify-center gap-10;
}

/* Individual Card */
.card {
  @apply flex justify-center items-center flex-col w-[500px] h-[500px] cursor-pointer;
}

/* Upper Section (Title Section) */
.card-title {
  @apply relative h-1/2  w-full flex justify-center items-center 
         border-gray-600 border-2 transition-all duration-500 ease-in-out 
         z-50 bg-gray-600;
}

/* Lower Section (Details) */
.card-details {
  @apply h-1/2 w-full   bg-stone-50 box-border 
         flex justify-center items-center transition-all duration-1000 
         ease-in-out shadow-[0px_20px_50px_rgba(0,0,0,0.8)] z-10;
}

/* Custom Bullet List */
.card-list {
  @apply list-none pl-5 custom-bullets text-shark;
}

.custom-bullets li {
  position: relative;
}

.custom-bullets li::before {
  content: "\2022"; /* Unicode for bullet */
  color: #fff; /* Bullet color (change as needed) */
  font-size: 20px; /* Bullet size */
  position: absolute;
  left: -20px; /* Adjust bullet position */
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.Typewriter__wrapper,
.Typewriter__cursor {
  color: #bbb6a5;
}
